<h1>Welcome to the Car Information Database</h1>

<ul>
    <li><a href="/manufacturers">Car Manufacturer Database</a></li>
    <li><a href="/manufacturers/new">New Manufacturer</a></li>
    <li><a href="/cars">Car Database</a></li>
    <li><a href="/cars/new">New Car</a></li>
</ul>