<h1>Manufacturer</h1>
<p>Name: <%= @manufacturer.name %></p>
<p>Country of Origin: <%= @manufacturer.origin %></p>
<p>ADM?: <%= @manufacturer.is_adm %></p>
<p>Other Owned Brands: <%= @manufacturer.owned_brands %></p>